.jumbotron h1 {
    /* text-align: center; */
    width: 100%;
    background-color: teal;
    font-family: cursive;
position: relative;
}

.jumbotron {
    width: 150% !important;
background-color: transparent ;
padding: 86px;
}

img {
    z-index: 229;
}

#banner {
    background-image: url("../images/_final-fantasy-banner.png") !important;

/* display: fixed; */
/* width: 100vw; */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */

}



#spacer {
height: 50px;
    display: block;
    position: relative;
  
   }